@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
   padding: 0;
   margin: 0;
   font-family: "Poppins", sans-serif;
}
.link {
   font-size: 18px;
   font-weight: 500;
   color: #1d2130;
   text-decoration: none;
   letter-spacing: 1px;
   margin-right: 10px;
}
.link1 {
   font-size: 18px;
   font-weight: 400;
   color: #1d2130;
   text-decoration: none;
   letter-spacing: 1px;
}
@media only screen and (max-width: 991px) {
   .wrap-collapse {
      margin-top: 15px;
   }
   .wrap-right {
      margin-top: 18px;
   }
}

/* style component banner homepage */
.jelajahi {
   background-color: rgb(56, 167, 85);
   padding: 10px 30px;
   border-radius: 0px 0px 50px 0px;
   color: white;
}
.banner-awal{
   padding: 100px 0;
   max-width: 900px;
}
 .text-banner{
   margin: auto;
   padding-top: 60px;
      /* padding-right: 80px; */
   }
   .img-banner {
      margin: auto;
   }


.text-banner > h1,h3,div {
   text-align: left;
}
@media only screen and (max-width: 576px) {
}
@media only screen and (max-width: 992px) {
   .text-banner > h1,h3,div {
      text-align: center;
   }
   .text-banner{
      max-width: 300px;
      margin: auto;
      padding-top: 0;
   }
   .img-banner {
      margin-top: 20px;
   }
   /* .text-banner{
      padding: 0;
   } */
   
   /* .banner-awal{
      padding: 0;
   } */
}
.jelajahi:hover{
   border-radius: 30px;
   transition: ease-in-out 0.5s;
   background-color: #0284c7;
}
@media only screen and (max-width: 546px) {
   .img-banner > img {
      width: 40vh;
      height: 40vh;
   }
}

/* style component eventhomepage */
.event-homepage {
   margin-top: 50px;
}
.card-event-homepage {
   border: none;
   margin-top: 10px;
}

.img-event-homepage {
   max-width: 100%;
   max-height: 100%;
   filter: brightness(50%);
}
.event-homepage {
   position: relative;
}

.text-event-homepage {
   margin: 0px 10px;
   vertical-align: middle;
}
.btn-event-homepage {
   padding: 7px 10px;
   border-radius: 5px;
}
@media only screen and (max-width: 992px) {
   .img-event-homepage {
      max-width: 100%;
      max-height: 90%;
      filter: brightness(50%);
   }
}

/* style component banner join home page */

.banner-join-event {
   margin-top: 40px;
   position: relative;
}

.img-banner-join {
   width: 100%;
   height: 350px;
}
.text-banner-join {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.text-banner-join > p,
h2 {
   color: white;
}
.btn-join-eventHomepage {
   background-color: rgb(56, 167, 85);
   padding: 10px 30px;
   color: white;
}

/* style component informasi homepage */
.container-informasi-homepage {
   margin-top: 40px;
}
.btn-informasiall-homepage {
   float: right;
   margin-top: 10px;
   margin-bottom: 10px;
   background-color: transparent;
   border-radius: 5px;
   padding: 4px 10px;
   color: #0284c7;
   border: solid 1px #0c4a6e;
}
/* style preview about us homepage */
.group-card-aboutus {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.content-aboutus {
   margin-top: 50px;
   text-align: center;
   margin-bottom: 30px;
   background-color: white;
   border-radius: 10px;
}

.about-us-list {
   margin-bottom: 15px;
}

/* style footer */
.footer-container {
   margin-top: 70px;
}

/* style about us page */
.teksAboutus-1 {
   margin: 30px 0px;
   text-align: center;
}
.content-about-us {
   border: 0px;
   margin-bottom: 50px;
   display: flex;
}

.content-about-us > .text-content {
   align-items: center;
}
.content-teks {
   padding: 0px;
   padding: 0px 10px;
}
.teks3 {
   margin-top: 40px;
}

@media only screen and (max-width: 724px) {
   .video-about-us > center > .video-greenish {
      max-width: max-content;
      max-height: 300px;
   }
}


.carde:hover{
   box-shadow:  7px 7px 14px #cccccc,
             -7px -7px 14px #f4f4f4;
}
.Content1NewsPage{
   text-align: center;
   padding: 100px;
   margin: 50px;
}
.Tutorial1NewsPage{
   text-align: center;
   padding: 100px;
   margin: 50px;
}
.col{
   text-align: center;
}